{% extends 'app/base.html' %}

<!--HTML - head, Title variable -->
{% block title %}Threads {% endblock %}

{% block body %}

    <!-- Tänne sivun html -->
    <div class="container">
        <div class="well">
            <h1 align="center">Threads</h1>
        </div>
        <div class="cardlayout">

                <ul class="threadul">
                <!-- Iterates the database with for loop from the database -->
                {% for thread in threads %}
                    <li class="threadclass">
                        <div class="card" id="{{thread.id}}">
                            <h3>{{thread.topic}}</h3>
                            <a href="/threads/{{ thread.id}}">
                                <img src="{{thread.imagelink}}" alt="{{thread.imagelink}}">
                            </a>
                            <!-- Create a link for detailed view for each thread -->
                            <p>
                                    {{thread.comment}}
                            </p>
                            <div class="author">
                                    <p>
                                        - {{thread.start_user}}<br />
                                        {{thread.datetime.time}}
                                    </p>
                            </div>

                        </div>
                    </li>

                <!-- End for loop -->
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
